table {
    width: 100%; /* Ширина таблицы */
    border: 4px black; /* Рамка вокруг таблицы */
    border-collapse: collapse; /* Отображать только одинарные линии */
  }

th {
    text-align: left; /* Выравнивание по левому краю */
    background: #ccc; /* Цвет фона ячеек */
    padding: 5px; /* Поля вокруг содержимого ячеек */
    border: 1px solid black; /* Граница вокруг ячеек */
}

td {
    padding: 5px; /* Поля вокруг содержимого ячеек */
    border: 1px solid black; /* Граница вокруг ячеек */
}

.properties-editor-header {
    display: flex;
    border: 1px solid black;
}

.properties-editor-body-row {
    display: flex;
    border: 1px solid black;
}

.dynamic-divider {
    height: 100%;
    background-color: black;
    width: 4px;
    position: absolute;
}